
 body {
    background-image: url("https://i.pinimg.com/736x/56/01/9f/56019f3e2594c680cc69e87ed3b774ba.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
}
.box {
    border: 1px solid black;
    width: 300px;
    height: 20px;
    padding: 50px;
    border-radius: 20px;
}
.titulo-cuerpo {
    font-size: smaller;
    border: 0px solid black;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.box-2 {
    background-color: tomato;
}
.info-box {
  display: none;
  position: absolute;
  top: 100px;
  left: 500px;
  background-color: rgb(228, 228, 207);
  border: 1px solid rgb(222, 222, 199);;
  padding: 15px;
  border-radius: 20px;
  width: 500px;
}

:target.info-box {
  display: block;
}